:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --highlight-color: #2196f3;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0px;
}
ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
button {
  display: inline-block;
  border: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* LOGO */
.logo {
  margin-right: 93px;
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #2196f3;
}
.footer-section .logo {
  color: var(--white-color);
}
/* Шапка */
.header-section {
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
}
.active {
  color: var(--highlight-color);
}
.nav-list a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--highlight-color);
}
.active::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--highlight-color);
  bottom: -1px;
}
.active {
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list li:not(:last-child) {
  margin-right: 50px;
}
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.mail-item a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-item a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail {
  margin-right: 10px;
  fill: currentColor;
}
.phone {
  margin-right: 10px;
  fill: currentColor;
}
.mail-item {
  margin-right: 50px;
}
.nav-list a:hover,
.nav-list a:focus,
.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--highlight-color);
}
/* Герой */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 696px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
/* Кнопка модального окна */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
[data-modal-close] {
  position: absolute;
  right: 8px;
  top: 8px;
  background-image: url(../images/icons/close.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-service {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
}
.button-order-service:hover,
.button-order-service:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Наши особенности */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  align-items: center;
}
.features-list li:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.features-item {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* Иконки */
.features-icons-container {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* Чем мы занимаемся */
.product-actions {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}
.product-actions-item {
  position: relative;
}
.product-actions-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.what-we-do {
  padding-bottom: 94px;
}
.what-we-do-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.photo-list {
  display: flex;
  align-items: center;
}
.photo-list li:not(:last-child) {
  margin-right: 30px;
}
.photo-item {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Наша команда */
.our-team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.our-team-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team {
  display: flex;
}
.our-team li:not(:last-child) {
  margin-right: 30px;
}
.our-team-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.worker-details {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.worker-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.proffesion {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* Соц сети */
.icons-list {
  display: flex;
}
.icons-items a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-items a:hover,
.icons-items a:focus {
  background-color: var(--highlight-color);
  fill: var(--white-color);
}
.icons-list li:not(:last-child) {
  margin-right: 10px;
}
/* Постоянные клиенты */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.clients-list {
  display: flex;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover {
  border-color: var(--highlight-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--highlight-color);
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
/* Портфолио */
.hero-portfolio {
  display: none;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-list li:not(:last-child) {
  margin-right: 8px;
}
.nav-buttons:hover,
.nav-buttons:focus {
  color: var(--white-color);
  background-color: var(--highlight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-buttons {
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-cards {
  max-width: 100%;
  height: auto;
  display: block;
}
.portfolio-photo {
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
}
.cards-container {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-photo .cards {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  background-color: var(--white-color);
}
.cards:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.cards a:hover,
.cards a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.item-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-thumb-item {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-thumb-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.cards:hover .product-thumb-item {
  transform: translateY(0);
}
/* Подвал */
.footer-section .container {
  display: flex;
  align-items: baseline;
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-section .contacts {
  margin-top: 9px;
}
.footer-section .contacts li:not(:first-child) {
  margin-top: 9px;
}
.address-section {
  margin-top: 20px;
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Присоединяйтесь */
.connect-container {
  margin-left: 70px;
}
.connect-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.connect-list {
  display: flex;
}
.connect-list li:not(:last-child) {
  margin-right: 10px;
}
.connect-icons a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-icons a:hover,
.connect-icons a:focus {
  background-color: var(--highlight-color);
  fill: var(--white-color);
}
